<html>
    <% include partials/header %>
    <head>
    <title>Add Item</title>
    <style>
    body{
    color: #BEBEBE;
    margin-top:150px;
    background-color: #D1EEEE;
    }
    button{
    background-color: black;
    color: white;
    width: 100px;
    }
    </style>
</head>

    
<body>
    <h1>NEW REVIEW</h1>
    <input type="text" id="reviewer_name" placeholder= "REVIEWER NAME"><br/>
    <input type= "number" name= "rating" placeholder= "RATING (1 TO 5)" min= "1" max= "5" required><br/><br/>
    <textarea id= "comment" placeholder= "REVIEW CONTENT"></textarea><br/>
    <button id="submit">ADD</button>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    
    <!--input handling and ajax-->
    <script>
        var form = {reviewer_name: "", rating: "", comment: ""};
        $('#submit').click(function(event){
            form.reviewer_name = $('#reviewer_name').val();
            form.rating = $('#rating').val();
            form.comment = $('#comment').val();
            $.ajax({
                method:"POST",
                url:"/user/create",
                data: form
            }).done(function(response){
                console.log(response);
            }).fail(function(response){
                console.log(response.responseText);
            });
        });
        
        $('#getArticles').click (function(event){
            $.ajax({
                method:"GET",
                url:"/user/list"
            }).done(function(response){
                console.log(response);
            }).fail(function(response){
                console.log(response.responseText);
            });
        });
    </script>
</body>
</html>