<% include ./partials/header.ejs %>
    <div class= "container">
        <h1> <%= user.reviewer_name %> </h1>
        <p> <%= user.rating %> </p>
        <p> <%= user.comment %> </p>
    </div>    
<%include ./partials/footer.ejs %>